logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

dist
dist-ssr
build

coverage

cypress/videos
cypress/screenshots

.env
.env.*
!.env.example

vite.config.ts.timestamp-*
vite.config.js.timestamp-*

*.local

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo